.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 기본 환경 파일도 제외 (민감정보 보호)
.env      


# 빌드 산출물
/dist/
/coverage/

# OS/에디터 잡파일
.DS_Store
Thumbs.db

# 로그/캐시
*.log

#정적 파일
/css/
/js/
/img/
/index.html

